.movie-details{
  @apply grid sm:grid-cols-3 w-full gap-x-6 gap-y-12;

  &__image-container{
    @apply sm:col-span-1 relative aspect-[1/1.3];
  }

  &__content{
    @apply sm:col-span-2;

    h1{
      @apply font-bold;
    }

    div, p{
      @apply text-base;
    }
  }
}