.card__container {
  @apply w-full;
}

.card__cover {
  @apply aspect-[1/1.3] relative;
}

.card__vote {
  @apply absolute bottom-2 right-2 text-xl font-bold bg-red-500 rounded-full flex items-center justify-center p-3 text-lg w-12 h-12;
}

.card__meta {
  .ant-card-meta-title{
    @apply text-lg whitespace-normal line-clamp-3;
  }
  
  .ant-card-meta-description{
    @apply font-semibold text-base;
  }
} 

